h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-left: 15px;
    border-left: 8px solid #3498db; /* Destaque lateral azul */
    color: #1a252f;
}

input {
  background-color: #006400; /* Cor de fundo azul */
  color: white; /* Cor do texto branca */
  padding: 12px 24px; /* Espaçamento interno */
  border: none; /* Remove borda padrão */
  border-radius: 8px; /* Cantos arredondados */
  font-size: 16px;
  cursor: pointer; /* Muda o cursor para mãozinha */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave */
  text-decoration: none; /* Se for um link estilizado */
  display: inline-block;
}

input:hover {
  background-color: #32CD32; /* Escurece a cor no hover */
  transform: translateY(-2px); /* Efeito de elevação */
}

input:active {
  transform: translateY(0px); /* Volta ao normal ao clicar */
}

.table-container {
    overflow-x: auto;
    margin: 20px 0;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.custom-table thead tr {
    background-color: #006400;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.custom-table th,
.custom-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.custom-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.custom-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1;
    color: #009879;
    cursor: pointer;
}

.custom-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}